<main class="main">
  <div class="inner">
     <% if user_signed_in? %>
      <div class="greeting">
        こんにちは
        <%= link_to "ユーザー名さん", root_path, class: :greeting__link %>
      </div>
    <% end %>
  
    <div class="card__wrapper">

  <h1>プロトタイプ一覧</h1>
  <ul>
    <% @prototypes.each do |prototype| %> 
      <li>
        <h2><%= prototype.name %></h2>
        <p><%= prototype.catch_copy %></p>
        <p><%= prototype.concept %></p>
        <% if prototype.image.attached? %>
          <%= image_tag prototype.image %>
        <% end %>
      </li>
    <% end %>
 </ul>

    </div>
  </div>
</main>
