<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.username}さん", user_path(current_user), class: :greeting__link %>
      </div>
    <% end %>
    
    <div class="card__wrapper">
      <ul>
        <% @prototypes.each do |prototype| %> 
          <li class="card">
            <% if prototype.image.attached? %>
              <%= link_to prototype_path(prototype) do %>
                 <%= image_tag prototype.image, class: "card__img" %>
              <% end %>
            <% end %>
            <h2 class="card__title">
              <%= link_to prototype.name, prototype_path(prototype) %>
            </h2>
             <p class="card__summary"><%= prototype.catch_copy %></p>
            <p class="card__user">by: <%= prototype.user.username %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>
