<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは
        <%= link_to "#{current_user.username}さん", user_path(current_user), class: :greeting__link %>
      </div>
    <% end %>
  
    <div class="card__wrapper">
      <ul>
        <% @prototypes.each do |prototype| %> 
          <li>
            <% if prototype.image.attached? %>
              <%= link_to prototype_path(prototype) do %>
                <%= image_tag prototype.image.variant(resize: "300x200") %>
              <% end %>
            <% end %>
            <h2>
              <%= link_to prototype.name, prototype_path(prototype) %>
            </h2>
            <p><%= prototype.catch_copy %></p>
            <p>by: <%= prototype.user.username %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>
