<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは
        <%= link_to "ユーザー名さん", root_path, class: :greeting__link%>
      </div>
    <% end %>
  
    <div class="card__wrapper">

  <h1>プロトタイプ一覧</h1>
  <ul>
    <% @prototypes.each do |prototype| %> 
      <li>
        <%= link_to '詳細',prototype_path(prototype.id) %>
      </li>
      <% if user_signed_in? && current_user.id == prototype.user_id %>
        <li>
          <%= link_to '編集', edit_prototype_path(prototype.id) %>
        </li>
        <li>
          <%= link_to '削除', prototypet_path(prototype.id), data: { turbo_method: :delete } %>
        </li>
      <% end %>
      <li>
        <h2><%= prototype.name %></h2>
        <p><%= prototype.catch_copy %></p>
        <p><%= prototype.concept %></p>
        <% if prototype.image.attached? %>
          <%= image_tag prototype.image %>
        <% end %>
      </li>
    <% end %>
 </ul>

    </div>
  </div>
</main>
