<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%=form_with model: @prototype, local: true do |f|%>
          <div class="field">
            <%= f.label :name, "プロトタイプ名称" %>
            <%= f.text_field :name %>
          </div>

        <div class="field">
          <%= f.label :catch_copy, "キャッチコピー" %>
          <%= f.text_field :catch_copy %>
        </div>

        <div class="field">
          <%= f.label :concept, "コンセプト" %>
          <%= f.text_area :concept %>
        </div>

        <div class="field">
          <%= f.label :image, "画像" %>
          <%= f.file_field :image %>
        </div>

        <div class="actions">
          <%= f.submit "保存する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
