<% prototypes.each do |prototype| %> 
  <li class="card">
    <% if prototype.image.attached? %>
      <%= link_to prototype_path(prototype) do %>
        <div class="card__imag">
          <%= image_tag prototype.image, class: "card__img" if prototype.image.attached? %>
        </div>
          <div class="card__info">
            <p class="card__user">by: <%= link_to prototype.user.username, user_path(prototype.user) %></p>
            <p class="prototype_name"><%= prototype.name %></p>
            <p class="prototype_detail"><%= prototype.catch_copy %></p>
        </div>
      <% end %>
    <% end %>
  </li>
<% end %>
